#t1 {
    /* 테두리 : 선두께 선모양 선색상; */
    border: 1px solid black;
    background-color: #eee;
}
#t1 tr {}
#t1 tr {}
#t1 tr th {
    border: 2px solid red;
    padding: 10px 0 5px; /* 상(10),하(0),좌우(5) */
}
#t1 tr td {
    border: 1px dotted red;
    padding:10px;
    /* 표의 여백은 열 (td, th) 적용 */
}
#t2 {
    background-color: blue;
    width: 400px;
}
#t2 tr {}
#t2 tr th {}
#t2 tr th:nth-child(1),
#t2 tr th:nth-child(2) { width: 50px;}
#t2 tr td {}

/* 교보문구 도서재고 */
#kyobo {}
#kyobo h1 {}
#kyobo #book {
    background-color: #eee;
    width: 700px;
    border-radius: 20px;
}
/*  공통 열 선택자 */
#kyobo #book th,
#kyobo #book td { padding: 15px 0;}
#kyobo #book thead {}
#kyobo #book thead tr {}
#kyobo #book thead tr th {}
/* 그룹선택자 적용법 */
/* #kyobo #book thead tr th:nth-child(2),
#kyobo #book thead tr th:nth-child(3),
#kyobo #book thead tr th:nth-child(4),
#kyobo #book thead tr th:nth-child(5) { width: 80px; } */
/* 형제 선택자 적용법 */
#kyobo #book thead tr th:nth-child(1) ~ th {width: 80px;}/* 1번째 기준으로 종류,가격,수량,비고 */
#kyobo #book tbody {}
#kyobo #book tbody tr {}
#kyobo #book tbody tr:nth-child(2) {
    border: 2px solid black;
}
#kyobo #book tbody tr th {
    text-align: left;
    padding-left: 15px;
}
#kyobo #book tbody tr td { text-align: center;}
/* 2024년 지역별 매출 현황 */
#wrap {
    width: 1620px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 50px 0;
}
#wrap .top {
    width: 750px;
    background-color: #fff;
    margin: 0 auto;
}
#wrap .top h1 {}
#wrap .top p {}
#wrap #sales {
    background-color: aquamarine;
    width: 750px;
    margin: 20px auto 0;
}
#wrap #sales th,
#wrap #sales td {padding: 10px 0;}
#wrap #sales thead {
    border: 1px solid #000;
    border-left:0;
    border-right:0;
}
#wrap #sales thead tr {}
#wrap #sales thead tr th {}
#wrap #sales thead tr th:nth-child(1) ~ th {width:130px;}
#wrap #sales tbody {}
#wrap #sales tbody tr {}
#wrap #sales tbody tr:nth-child(4) {background-color: #bbb;}
#wrap #sales tbody tr th {}
#wrap #sales tbody tr td { text-align: center;}
/* 선불 요금제 */
#phone {}
#phone #pay {
    width: 1100px;
}
#phone #pay thead {
    border: 2px solid #000;
    border-left: 0; border-right: 0;
}
#phone #pay thead tr {}
#phone #pay thead tr:nth-child(1) {border-bottom: 1px ;}
#phone #pay thead tr th {
    /* border: 1px solid #000; padding: 20px 0; */
    border-left: 0;
    border-right: 0;
}
#phone #pay thead tr th img { width: 24px;}
#phone #pay thead tr th em {
    font-size: 0.75rem;
    color: #888;
    display: block;
}