#phone {
    width: 1620px;
    margin: 50px ;
}
#phone #pay {
    width: 1100px;
    margin: 50px auto 0;
    background-color: #ddd;
}
#phone #pay thead {
    border: 2px solid #000;
    border-left: 0; border-right: 0;
}
#phone #pay th,
#phone #pay td {padding: 15px 0;} 
#phone #pay tr { border-bottom: 1px solid #000;}
#phone #pay thead tr {}
#phone #pay thead tr:nth-child(1) {border-bottom: 1px dotted #aaa;}
#phone #pay thead tr em {
    font-size: 0.75rem;
    color: #888;
    display: block;
}
#phone #pay thead tr th {}
#phone #pay thead tr img { width: 80px;}
#phone #pay tbody {} 
#phone #pay tbody tr {}
#phone #pay tbody tr th {}
#phone #pay tbody tr td {text-align: center;}